.review-sec {
  border: 1px solid #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.review-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-sec .reviewer-img img {
  border-radius: 50%;
  max-width: 40px;
  width: 100%;
  margin-right: 10px;
}
.review-content.toggle {
  max-height: none;
}
.review-content.active {
  max-height: 70px;
  overflow: hidden;
}
.reviewer-btn-area {
  display: flex;
  justify-content: flex-end;
}
.reviewer-btn {
  margin-top: 20px;
  background-color: #e50914;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  border: none;
}
