.bg-body-tertiary {
  background-color: #000 !important;
}
.bg-body-tertiary a {
  color: #fff;
  transition: 0.3s;
}
.bg-body-tertiary a:hover {
  color: #fff;
  opacity: 0.7;
}
.logo-img {
  max-width: 130px;
}
.search-btn {
  color: #e50914;
  border: 1px solid #e50914;
}
.search-btn:hover {
  background-color: #e50914;
  border: 1px solid #e50914;
}
