.movie-info {
  display: flex;
  margin: 40px auto;
  max-width: 870px;
  gap: 10px;
}
.movie-img img {
  width: 100%;
  border-radius: 10px;
}
.movie-title {
  font-size: 32px;
  font-weight: bold;
}
.movie-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.movie-genres li {
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #e50914;
  border-radius: 10px;
  color: #fff;
}
.movie-text-arera li {
  margin-bottom: 15px;
}
.movie-text-arera li span {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  background-color: #940007;
  border-radius: 10px;
  color: #fff;
  margin-right: 10px;
  font-weight: 600;
}
