.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f0f5;
}

.not-found-container h1 {
  font-size: 5rem;
  color: #adadad;
}

.not-found-container p {
  font-size: 1.25rem;
  color: #555555;
  margin: 10px 0;
}

.not-found-container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.not-found-container button:hover {
  background-color: #0056b3;
}
